- model_class = Item
- @items.each do |item|
  .row
    .col-xs2.col-md-2
    .col-xs8.col-md-8
      %table.table
        %tbody
          %tr
            %td{ style: "width: 214px; height: 145px;" }
              %img{ src: "#{item.thumbnail}", style: "width: 140px; height: 128px;" }
            %td
              .lead= link_to(item.title, item.url)
              = item.price
    .col-xs2.col-md-2